.footer {
    background-color: #F8F9FA;
    color: #212529;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.flex-column {
    width: 100%;
}

p {
    font-size: .87em;
}

.widgetlink {
    color: black;
}