.footer {
    background-color: #F8F9FA;
    color: #212529;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer .flex-column {
    width: 100%;
}

.footer p {
    font-size: .85em;
}

.widgetlink {
    color: black;
}

#footer-widgets {
    padding-top: 98px;
}

.email {
    border: none;
    background: none;
}