.navbar {
    height: 180px;
    background-color: white;
    font-family: "Poppins",sans-serif;
    padding:0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;        //not listening to me???;
}

.navbar .navbar-logo {
    width: 13%;             //?;
    padding-left: 10px;
}
.navbar .navbar-logo img {
    max-width: 100%;
    height: auto;
}

.navbar-header {
    margin-left: 8px;
    border-bottom: 1px solid #C8C8C8;
}
.navbar-title {
    display: inline-flex;
}

.navbar .navbar-brand {
    color: #232323;
    font-weight: bold;
    font-size: 1.55em;
}

.navbar-widgets {
    display: inline-flex;
}
.widgetlink {
    color: #232323;
}
.widget {

}

.navbar-subheader p {
    display: inline-flex;
    padding-left:5px;
}
.navbar-subheader ul {
    display: inline-flex;
}